body {
    font-family: "LilitaOne-Regular", sans-serif;
    max-width: 1280px;
    margin: 0;
    padding: 0;
    background-image :url('./imagens/Dragon_Ball_Z_HD_Wallpapers_Free_Download\ \(1\).jfif'); 
    background-size: cover;
    /* Faz com que a imagem cubra toda a tela */
    background-position: center;
    /* Centraliza a imagem no centro da tela */
    background-repeat: no-repeat;
    /* Evita que a imagem se repita */
    height: 100vh;
    /* Garante que o body ocupe 100% da altura da viewport */
    background-attachment: fixed;
    /* Mantém a imagem fixa ao rolar a página */


}

  @media (min-width:768px) and (min-width:1280px){
    body{
      font-size: 14px;
      margin: 10PX;
    }
  }



@font-face {
    font-family: "LilitaOne-Regular";
    src: url(../css/text/LilitaOne-Regular.ttf) ;
}


.glitch {

    font-size: 35px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    margin-left: 30%;
    font-family: "Poppins-Bolditalic ", sans-serif;
  }

  .glitch:after {

    content: attr(data-text);
  
    position: absolute;
  
    left: 2px;
  
    text-shadow: -2px 0 red;
  
    top: 0;
  
    color: white;
  
    /* usar a cor de fundo solido */
  
    background: black; 
  
    overflow: hidden;
  
    clip: rect(0, 900px, 0, 0);
  
    animation: glitch1 2s infinite linear alternate-reverse;
  
  }

  .glitch:before {

    content: attr(data-text);
  
    position: absolute;
  
    left: -2px;
  
    text-shadow: 1px 0 blue;
  
    top: 0;
  
    color: white;
  
     /*usar a cor de fundo solido*/
  
    /* background: black; */
  
    overflow: hidden;
  
    clip: rect(0, 900px, 0, 0);
  
    animation: glitch2 3s infinite linear alternate-reverse;
  
  }




.imagem.ativa {
	display: block;
	animation: mudarImagem 0.7s;
    
    
  
}
h1{
    color: rgb(255, 153, 0);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    font-size: 15px;
     margin-left: 50px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    left: 100px;
    position: relative;
    top: -40px; /* Ajuste o valor conforme necessário */
  }


/* button {
    color: aqua;
    margin-left: 50px;
} */

.listinhas {
    margin-left: 50px;
    color: brown;
}


footer {
    text-align: center;
  
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
  color: rgb(0, 0, 0);
  position: relative;
  top: -100%;
  width: 15%; /* largura */
  list-style: none;
  height: 30px; /* altura */
  margin-top: -25px;
  left: 4%;  
}
 



.foto.ativa {
    display: none;
    animation: mudarImagem 0.7s;
}

span{
    font-size: 30px;
}

.xv button{
  color: rgb(0, 0, 0);
    transition: .2s;
    padding: 10px 16px;
    font-size: 13px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 100;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0);
    margin: auto;
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
    position: absolute; /* ou absolute, dependendo do contexto */
    top: 350px; /* Ajuste o valor conforme necessário */
    margin-left: 4.5%; 
    left: 15px; 
    


}

 button:hover{
   color: rgb(255, 0, 0);
    transform: scale(1.1)
}

.kakaroto img{
   position: relative;
   animation: voar 2s ease-in-out infinite alternate;
margin: 4%;
right: 10%;
border-radius: 20px;
max-height: 100px;
border: 0;
left: .05px;

}

@keyframes voar{
    0%{
        top: 0;
    }
    100%{
        top: 20px;
    }
}











@keyframes glitch1 {

    0% {
  
      clip: rect(59px, 9999px, 84px, 0);
  
    }
  
    5% {
  
      clip: rect(46px, 9999px, 36px, 0);
  
    }
  
    10% {
  
      clip: rect(72px, 9999px, 84px, 0);
  
    }
  
    15% {
  
      clip: rect(58px, 9999px, 43px, 0);
  
    }
  
    20% {
  
      clip: rect(34px, 9999px, 62px, 0);
  
    }
  
    25% {
  
      clip: rect(63px, 9999px, 84px, 0);
  
    }
  
    30% {
  
      clip: rect(59px, 9999px, 73px, 0);
  
    }
  
    35% {
  
      clip: rect(15px, 9999px, 44px, 0);
  
    }
  
    40% {
  
      clip: rect(7px, 9999px, 81px, 0);
  
    }
  
    45% {
  
      clip: rect(63px, 9999px, 35px, 0);
  
    }
  
    50% {
  
      clip: rect(61px, 9999px, 98px, 0);
  
    }
  
    55% {
  
      clip: rect(8px, 9999px, 41px, 0);
  
    }
  
    60% {
  
      clip: rect(29px, 9999px, 32px, 0);
  
    }
  
    65% {
  
      clip: rect(7px, 9999px, 55px, 0);
  
    }
  
    70% {
  
      clip: rect(36px, 9999px, 60px, 0);
  
    }
  
    75% {
  
      clip: rect(75px, 9999px, 83px, 0);
  
    }
  
    80% {
  
      clip: rect(100px, 9999px, 16px, 0);
  
    }
  
    85% {
  
      clip: rect(47px, 9999px, 22px, 0);
  
    }
  
    90% {
  
      clip: rect(8px, 9999px, 45px, 0);
  
    }
  
    95% {
  
      clip: rect(0, 900px, 0, 0);
  
    }
  
    100% {
  
      clip: rect(0, 900px, 0, 0);
  
    }
  
  }
  
   
  
  @keyframes glitch2 {
  
    0% {
  
      clip: rect(7px, 9999px, 60px, 0);
  
    }
  
    5% {
  
      clip: rect(3px, 9999px, 30px, 0);
  
    }
  
    10% {
  
      clip: rect(75px, 9999px, 95px, 0);
  
    }
  
    15% {
  
      clip: rect(30px, 9999px, 70px, 0);
  
    }
  
    20% {
  
      clip: rect(58px, 9999px, 27px, 0);
  
    }
  
    25% {
  
      clip: rect(67px, 9999px, 80px, 0);
  
    }
  
    30% {
  
      clip: rect(36px, 9999px, 12px, 0);
  
    }
  
    35% {
  
      clip: rect(98px, 9999px, 81px, 0);
  
    }
  
    40% {
  
      clip: rect(99px, 9999px, 91px, 0);
  
    }
  
    45% {
  
      clip: rect(88px, 9999px, 24px, 0);
  
    }
  
    50% {
  
      clip: rect(62px, 9999px, 57px, 0);
  
    }
  
    55% {
  
      clip: rect(17px, 9999px, 82px, 0);
  
    }
  
    60% {
  
      clip: rect(17px, 9999px, 29px, 0);
  
    }
  
    65% {
  
      clip: rect(80px, 9999px, 62px, 0);
  
    }
  
    70% {
  
      clip: rect(35px, 9999px, 40px, 0);
  
    }
  
    75% {
  
      clip: rect(43px, 9999px, 85px, 0);
  
    }
  
    80% {
  
      clip: rect(55px, 9999px, 95px, 0);
  
    }
  
    85% {
  
      clip: rect(67px, 9999px, 58px, 0);
  
    }
  
    90% {
  
      clip: rect(8px, 9999px, 45px, 0);
  
    }
  
    95% {
  
      clip: rect(0, 900px, 0, 0);
  
    }
  
    100% {
  
      clip: rect(0, 900px, 0, 0);
  
    }
  
  }
  
  